@import url('//use.fontawesome.com/releases/v5.0.7/css/all.css');

/* TODO: Add mobile responsive functionality */

:root {
  --h1-color: #d4af37;
  --border-bg: #b20000;
  --shared-color-1: #ffffff;
  --shared-color-2: #000000;
  --bg-main: #cccccc;
  --bg-gradient-1: #6c7a89;
  --bg-gradient-2: #313131;
  --bg-gradient-3: #cccccc;
  --bg-button-hover: #cccccc;
  --bg-button-active: #d3d3d3;
  --border-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', Verdana, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-gradient-2);
  background: linear-gradient(
    30deg,
    var(--bg-gradient-1) 0%,
    var(--bg-gradient-2) 100%,
    var(--bg-gradient-3) 100%
  );
}

.container {
  min-width: 810px;
  min-height: 810px;
  height: 100%;
  margin: auto;
  border-radius: 0.5rem;
}

.border {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  box-shadow: inset 0.25rem 0.25rem 0.25rem 0 var(--shared-color-1),
    inset -0.25rem -0.25rem 0.25rem 0 var(--shared-color-2);
  height: 810px;
  width: 810px;
  background-color: var(--border-bg);
}

.top-nav {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

h1 {
  word-spacing: 2rem;
  font-family: 'Pacifico', sans-serif;
  font-weight: bold;
  color: var(--h1-color);
  text-shadow: 1px 2px var(--bg-gradient-2);
}

.smallerFont {
  vertical-align: text-top;
  word-spacing: 1px;
  font-size: 1rem;
}

.smallFont {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.bigFont {
  font-size: 2.5rem;
}

/* Game Grid */

.main {
  display: grid;
  background: var(--bg-main);
  min-height: 600px;
  max-width: 600px;
  margin: auto;
  border: 1px solid var(--border-color);
}

.grid-item {
  border: 1px solid var(--border-color);
  text-align: center;
}

/* Toolbox */

.toolbox {
  display: flex;
  padding-top: 1rem;
  justify-content: space-evenly;
}

.button {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--shared-color-1);
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
}

.button:hover {
  background: var(--bg-button-hover);
}

.active {
  background: var(--bg-button-active);
  box-shadow: inset -0.5rem -0.5rem 0.5rem 0 var(--shared-color-1),
    inset 0.25rem 0.25rem 0.25rem 0 var(--shared-color-2);
}

footer {
  display: flex;
  justify-content: center;
  border-top: var(--border-color);
  font-size: 0.75rem;
  padding: 0.25rem;
}

footer strong {
  line-height: 0.9rem;
}

.fa-github {
  padding-left: 1rem;
  color: var(--shared-color-2);
}
